@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}

* {
  font-family: 'Markazi Text', serif;
}

*::before,
*::after {
  box-sizing: border-box;
}


ol,
ul {
  list-style: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  list-style: none;
  list-style-position: initial;
  list-style-image: initial;
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  display: list-item;
}